################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Algorithms/.vs/Algorithms
/Algorithms/Algorithms/bin/Debug/netcoreapp2.2
/Algorithms/Algorithms/obj
